<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <style>
        @page {
            size: 8.5in 11in;
            margin: 0.5in;
        }

        body {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>

<body>
    <div>
        <h1>{{ fullName }}</h1>
        <div>
            <span>{{ location }}</span>
            <span>{{ email }}</span>
            <span>{{ phone }}</span>
            <span>{{ website }}</span>
        </div>
    </div>
    {% for section in sections %}
    <div>
        <h2>{{ section.title }}</h2>
        {% for subsection in section.subsections %}
        <div>

            <div>
                <span>{{ subsection.title }}</span>
                <span>{{ subsection.title2 }}</span>
            </div>
            <div>
                <span>{{ subsection.subtitle }}</span>
                <span>{{ subsection.subtitle2 }}</span>
            </div>
            <ul>
                {% for bullet_point in subsection.bulletPoints %}
                <li>{{ bullet_point.text }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</body>